<!--<div>{{ fatura| json }}</div>-->
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-12">
    <div>Fatura</div>
    <div class="ui-inputgroup">
      <input type="text" [contentEditable]=false [readOnly]=true [(ngModel)]="fatura.idfatura"
        class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Id da Fatura">
    </div>
  </div>
  <div class="ui-g-12 ui-md-12">
    <div>Usuário</div>
    <div class="ui-inputgroup">

      <input type="text" [(ngModel)]="fatura.idusuario" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
        placeholder="Cód. Usuário">
    </div>
  </div>
  <div class="ui-g-12 ui-md-12">
    <div>Nome da Empresa</div>
    <div class="ui-inputgroup">

      <input type="text" [(ngModel)]="fatura.nome_empresa" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
        placeholder="Nome da Empresa">
    </div>
  </div>
  <div class="ui-g-12 ui-md-12">
    <div>Valor</div>
    <div class="ui-inputgroup">

      <input type="text" [(ngModel)]="fatura.valor" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
        placeholder="Valor da Fatura">
    </div>
  </div>
  <div class="ui-g-12 ui-md-12">
    <div>Dt. Venc</div>
    <div class="ui-inputgroup">

      <input type="text" [(ngModel)]="fatura.data_vencimento"
        class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Data de Vencimento">
    </div>
  </div>
  <div class="ui-g-12 ui-md-12">
    <div>Pagou</div>
    <div class="ui-inputgroup">

      <input type="text" [(ngModel)]="fatura.pagou" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
        placeholder="Pagou">
    </div>

  </div>
  <div class="ui-g-4 ui-md-4">
    <button pButton type="button" label="Confirmar" (click)="atualizar()"
      class="ui-button-rounded ui-button-success"></button>
  </div>
  <div class="ui-g-4 ui-md-4">
    <button pButton type="button" label="Cancelar" (click)="cancelar()"
      class="ui-button-rounded ui-button-danger"></button>
  </div>
</div>
