
    <p-table [value]="faturas">
        <ng-template pTemplate="header">
            <tr>
                <th>Fatura</th>
                <th>Cód. Usuário</th>
                <th>Nome Empresa</th>
                <th>Valor</th>
                <th>Dt. Venc</th>
                <th>Pagou</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fatura>
            <tr>
                <td>{{fatura.idfatura}}</td>
                <td>{{fatura.idusuario}}</td>
                <td>{{fatura.nome_empresa}}</td>
                <td>{{fatura.valor}}</td>
                <td>{{fatura.data_vencimento}}</td>
                <td>{{fatura.pagou}}</td>
                <td><button pButton type="button" label="Editar" (click)="editar(fatura.idfatura)" class="ui-button-warning"></button></td>
                <td><button pButton type="button" label="Excluir" (click)="excluir(fatura.idfatura)" class="ui-button-danger"></button></td>
            </tr>
        </ng-template>
    </p-table>
