<div class="navbar navbar-fixed-top ">
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/faturas">Faturas</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/fatura">Incluir Fatura</a></li>
        </ul>
    </div>
  </div>
<router-outlet></router-outlet>
